/* STUPID CSS I HATE YOU */
* {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

.title {
    font-size: 56px;
    text-align: center;
    color: navy;
}

.link {
    font-size: 32px;
    margin: 64px;
    background-color: navy;
    color: bisque ;
    box-sizing: border-box;
}